<% let formFields = [

     {
         name: "title",
         id: "tit",
         i18n: "title",
         maxlength: 200,
         value: escapeRoom.title,
         required: true
     }]
%>
<% let formFields2 = [
     
     {
        name: "duration",
        id: "dur",
        i18n: "duration",
        number: true,
        min: 1,
        max: 24 * 60 * 60 * 365,
        value: escapeRoom.duration,
        required: true

     },
     {
         name: "teamSize",
         id: "ts",
         i18n: "teamSize",
         number: true,
         min: 1,
         max: 10000,
         value: escapeRoom.teamSize || null
     },
     {
         name: "minTeamSize",
         id: "minTeamSize",
         i18n: "minTeamSize",
         number: true,
         min: 1,
         max: 10000,
         value: escapeRoom.minTeamSize || null
     },
     {
         name: "supportLink",
         id: "supportLink",
         maxlength: 200,
         i18n: "supportLink",
         value: escapeRoom.supportLink
     }
    ]; %>
<% for (let f in formFields) {
  var field = formFields[f];%>
    <div class="inputFormField erFormField animated slideInUp" style="animation-delay: <%=200*f%>ms;">
        <label for="<%=field.id%>"  class="itemNarrow"><%=parseInt(f)+1%>. <%=i18n.showTeacher.titles[field.i18n]%>:</label>
        <input <%=field.required ? 'required="required"' : "" %>  type="<%=field.number ? "number" : "text"%>" min="<%=field.min%>" max="<%=field.max%>" class="customInput itemWide" id="<%= field.id %>" name="<%= field.name %>" value="<%= field.value %>" maxlength="<%=field.maxlength%>"
               placeholder="<%=i18n.escapeRoom.steps.settings[field.i18n + "PlaceHolder"]%>" autocomplete="off"/>
    </div>

<%}%>
  <div class="inputFormField erFormField animated slideInUp" style="animation-delay: 200ms;">
      <label for="subj"  class="itemNarrow">2. <%=i18n.showTeacher.titles["subjects"]%>:</label>
      <p class="note-up animated slideInUp" style="animation-delay: 200ms;" ><%=i18n.escapeRoom.steps.settings.subjectNote%></p>

      <input  type="text" placeholder="<%=i18n.escapeRoom.steps.settings.subjectPlaceHolder%>" style="padding-left: 0px; padding-top: 5px; margin-left: 12px;"
       class="customInput itemWide" id="subj" name="subject" value="<%=(escapeRoom.subject || []).map(e=>e.subject).join(',')%>" maxlength="200" autocomplete="off"/>
  </div>

<div class="inputFormField erFormField animated slideInUp" style="animation-delay: <%=200*(formFields.length+1)%>ms;">
  <label for="field" class="itemNarrow">3. <%=i18n.escapeRoom.steps.sharing.field%>:</label>
  <select class="customInput itemWide" id="field" name="field" autocomplete="off">
    <option value="" <%= !escapeRoom.field ? "selected" : "" %>><%= i18n.general.unspecified %></option>
    <% for (let i = 0; i <= 10; i++) {
      const value = i.toString().padStart(2, "0"); %>
      <option value="<%= value %>" <%= escapeRoom.field == value ? "selected" : "" %>>
        <%= i18n.escapeRoom.fields[value] %>
      </option>
    <% } %>
  </select>
</div>
<div class="inputFormField erFormField animated slideInUp" style="animation-delay: <%=200*(formFields.length+1)%>ms;">
  <label for="level" class="itemNarrow">4. <%=i18n.escapeRoom.steps.sharing.level%>:</label>
  <select class="customInput itemWide" id="level" name="level" autocomplete="off">
    <option value="unspecified" <%=!escapeRoom.level ? "selected" : "" %>><%=i18n.network.filters.eduLevel.unspecified%></option>
    <option value="higher" <%= escapeRoom.level === "higher" ? "selected" : ""%>><%=i18n.network.filters.eduLevel.higher%></option>
    <option value="secondary" <%= escapeRoom.level === "secondary" ? "selected" : ""%>><%=i18n.network.filters.eduLevel.secondary%></option>
    <option value="primary" <%= escapeRoom.level === "primary" ? "selected" : ""%>><%=i18n.network.filters.eduLevel.primary%></option>
    <option value="vet" <%= escapeRoom.level === "vet" ? "selected" : ""%>><%=i18n.network.filters.eduLevel.vet%></option>
    <option value="adult" <%= escapeRoom.level === "adult" ? "selected" : ""%>><%=i18n.network.filters.eduLevel.adult%></option>
    <option value="general" <%= escapeRoom.level === "general" ? "selected" : ""%>><%=i18n.network.filters.eduLevel.general%></option>
    <option value="other" <%= escapeRoom.level === "other" ? "selected" : ""%>><%=i18n.network.filters.eduLevel.other%></option>
  </select>
</div>
<div class="inputFormField erFormField animated slideInUp" style="animation-delay: <%=200*(formFields.length+2)%>ms;">
  <label for="format"> 5. <%=i18n.escapeRoom.steps.sharing.format%>:</label>
  <select class="customInput itemWide" id="format" name="format" autocomplete="off">
    <option value="none" <%=!escapeRoom.format  || (escapeRoom.format == "none")? "selected" : "" %>><%=i18n.general.unspecified%></option>
    <option value="online" <%=escapeRoom.format == "online" ? "selected" : "" %>><%=i18n.escapeRoom.format["online"]%></option>
    <option value="hybrid" <%=escapeRoom.format == "hybrid" ? "selected" : "" %>><%=i18n.escapeRoom.format["hybrid"]%></option>
  </select>
  <div class="note-up" style="padding-top:10px;padding-left: 30px;display:<%=escapeRoom.format === 'hybrid' ? 'block':'none'%>"><%=i18n.escapeRoom.format.provideLater%></div>
  <script type="text/javascript">
    $(function(){
      $('#format').on("change", function(e){
        let format = $(this).val();
        if(format == "hybrid"){
          $('.note-up').show();
        }else{
          $('.note-up').hide();
        }
      });
    });
  </script>
</div>
 <div class="inputFormField erFormField animated slideInUp description" style="animation-delay: <%=200*(formFields.length+3)%>ms;">
        <label for="custom-content"  class="itemNarrow">6. <%=i18n.showTeacher.titles["description"]%>:</label><br/>
        <div id="custom-content" class="editor-wrapper purple-ckeditor-small">
          <%-escapeRoom.description%>
        </div>
    </div>

 
<% for (let f in formFields2) {
  var field = formFields2[f];%>
    <div class="inputFormField erFormField animated slideInUp" style="animation-delay: <%=200*f%>ms;">
        <label for="<%=field.id%>"  class="itemNarrow"><%=parseInt(f)+6%>. <%=i18n.showTeacher.titles[field.i18n]%>:</label>
        <input <%=field.required ? 'required="required"' : "" %>  type="<%=field.number ? "number" : "text"%>" min="<%=field.min%>" max="<%=field.max%>" class="customInput itemWide" id="<%= field.id %>" name="<%= field.name %>" value="<%= field.value %>" maxlength="<%=field.maxlength%>"
               placeholder="<%=i18n.escapeRoom.steps.settings[field.i18n + "PlaceHolder"]%>" autocomplete="off"/>
    </div>
    <% if (field.name === "duration") { %>
      <label class="note animated slideInUp" style="animation-delay: <%=200*f%>ms;" for="forbiddenLateSubmissions" ><%=i18n.escapeRoom.steps.settings.forbiddenLateSubmissionsPlaceHolder%>
        <input class="customCheckbox" type="checkbox" name="forbiddenLateSubmissions" id="forbiddenLateSubmissions" <%= escapeRoom.forbiddenLateSubmissions ? "checked" : "" %> />
      </label>
    <% } %>
<%}%>

<div class="inputFormField erFormField animated slideInUp" style="animation-delay: <%=200*(formFields.length+1)%>ms;">
  <label for="<%=field.id%>"  class="itemNarrow">9. <%=i18n.showTeacher.titles["lang"]%>:</label>
  <select class="customInput itemWide" id="lang" name="lang" autocomplete="off">
    <% for (var l of Object.keys(i18n.languages)) {%>
    <option value="<%=l%>" <%= (escapeRoom.lang || i18n.lang) == l ? "selected" : "" %>><%=i18n.languages[l]%></option>
    <%}%>
  </select>
</div>
<div class="inputFormField erFormField animated slideInUp" style="animation-delay: <%=200*formFields.length%>ms;">
  <label for="<%=field.id%>"  class="itemNarrow">10. <%=i18n.showTeacher.titles["forceLang"]%>:</label>
  <select class="customInput itemWide" id="forceLang" name="forceLang" autocomplete="off">
    <option value="" <%=escapeRoom.forceLang  ? "" : "selected" %>><%=i18n.langs["dontForce"]%> </option>
    <% var langs = globalConfig.availableLanguages || ["en", "es"]; %>
      <% for (var l in langs) {
          var ll = langs[l];
          %>
              <option value="<%=ll%>" <%=escapeRoom.forceLang == ll  ? "selected" : "" %>><%=i18n.langs[ll]%></option>
      <%}%>
  </select>
</div>
  <div class="inputFormField erFormField animated slideInUp" style="animation-delay:0ms;">
    <label for="allowUserToResetTeamProgress" class="itemNarrow">11. <%=i18n.escapeRoom.steps.evaluation.allowUserToResetTeamProgress%>:</label>
    <select class="customInput itemWide" id="allowUserToResetTeamProgress" name="allowUserToResetTeamProgress">
      <option value="false" <%= !escapeRoom.allowUserToResetTeamProgress ? "selected" : "" %>><%=i18n.common.no%></option>
      <option value="true" <%= escapeRoom.allowUserToResetTeamProgress ? "selected" : "" %>><%=i18n.common.yes%></option>
    </select>
    <span class="field-hint"><%=i18n.escapeRoom.steps.evaluation.allowUserToResetTeamProgressHint%></span>
  </div>
<div class="inputFormField erFormField animated slideInUp" style="animation-delay: <%=200*(formFields.length+2)%>ms;">
    <label class="itemNarrow">12. <%=i18n.showTeacher.titles.thumbnail%>:</label>
    <input class="attach" type="file" id="img" name="image"/>
    <label for="img" class="fileUpload customInput itemWide">
      <span id="imgLabel" >
        <% if (escapeRoom.id && escapeRoom.attachment) { %>
          <%= escapeRoom.attachment.filename ||  "Default" %>
        <% } else { %>
          <%=i18n.escapeRoom.steps.settings.noFileUploaded%>
        <% } %>
      </span>
      <span id="upload"
        <% if (escapeRoom.id && escapeRoom.attachment) { %>
          style="display: none;"
        <% } %>
        class="fileUploadButton">
          <span class="material-icons">file_upload</span>
      </span>
      <span id="delete"
        <% if (!escapeRoom.id && !escapeRoom.attachment) { %>
          style="display: none;"
        <% } %>
        class="fileUploadButton">
          <span class="material-icons">delete</span>
        </span>
				<input type="text" class="inputFormField erFormField" style="opacity:0;" aria-label="Force focus"/>
        <input type="hidden" name="keepAttachment" id="keepAttachment" value="<%= (escapeRoom.id && escapeRoom.attachment) ? "1" : "0" %>" >
    </label>
</div>

<div class="align-right flex-buttons buttons_before_progressbar">
    <% if (!escapeRoom.id) { %>
      <a href="/escapeRooms/<%= escapeRoom.id %>">
        <button class="progress-buttons" id="exit" type="button"><%=i18n.common.cancel%></button>
      </a>
  <% } %>
  <button class="progress-buttons" type="submit" value="<%=progress%>" id="progress-save" name="progress"><%=i18n.common.save%></button>
  <button class="progress-buttons" type ="submit"><%=i18n.common.next%></button>
</div>
<script>
  window.escapeRoomId = "<%=escapeRoom?.id%>";
  window.endPoint = "description";
  window.insert = "<%=i18n.gallery.insert%>";
  window.cancel = "<%=i18n.gallery.cancel%>";
  window.accept = "<%=i18n.common.accept%>";
  window.lang = "<%=i18n.lang%>";
  window.theme =  "/stylesheets/style.css";

</script>
<script src="/ckeditor/ckeditor4/ckeditor.js"></script>
<script type="text/javascript">

$(function(){

    $('#img').on("change", function(e){
      let path = $(this).val();
      try {
        let fileNameArr = path.split("\\");
        let fileName = fileNameArr[fileNameArr.length - 1];
        if(fileName) {
          $('#delete').show();
          $('#upload').hide();
          $('#imgLabel').html(fileName);
        }
      } catch (e) {
          $('#delete').hide();
          $('#upload').show();
          $('#imgLabel').html("<%=i18n.escapeRoom.steps.settings.noImageUploaded%>");
      }
    });

    $('#delete').on('click', function(e){
        e.preventDefault();
        $('#delete').hide();
        $('#upload').show();
        $('#imgLabel').html("<%=i18n.escapeRoom.steps.settings.noImageUploaded%>");
        $('#keepAttachment').val("0");
    })

   let editor = CKEDITOR.replace("custom-content");
    //When replacing there is a hidden div with the content that is latter
    //read to save the content and an iframe that is the editor
    //when autoplay is enabled both audios or videos are played
    //and there is no way to stop the hidden one
    editor.on("instanceReady", function(){
        let video = $(`#custom-content`).parent().find("video");
        if(video.length){
            video[0].pause();
        }
        let audio = $(`#custom-content`).parent().find("audio");
        if(audio.length){
            audio[0].pause();
        }
    });

    $('#main-er-create-edit-form').submit((e)=>{
      
      
      $("<input />").attr("type", "hidden")
        .attr("name", "description")
        .attr("value", CKEDITOR.instances["custom-content"].getData())
        .appendTo("#main-er-create-edit-form");
      return true;
  });
})
// /assets/js/tags.js
// Enhances #subj into a chip-based tag input with remote autocomplete and CSV submission.

$(function(){
  'use strict';

  function onReady(fn) {
    if (document.readyState === 'loading') {
      document.addEventListener('DOMContentLoaded', fn);
    } else {
      fn();
    }
  }

  onReady(function () {
    var $visible = $('#subj'); // exact ID from your label/field
    if ($visible.length === 0) return;

    // Keep label binding intact by leaving id="subj" as-is.
    var originalName = $visible.attr('name'); // "subject"

    // Initialize from any server-rendered CSV in value=""
    var initial = String($visible.val() || '')
      .split(',')
      .map(function (s) { return s.trim(); })
      .filter(Boolean);

    $visible.val("")
      
    // Move the name to a hidden input; the visible field should not submit raw text.
    $visible.removeAttr('name');

    var $hidden = $('<input>', {
      type: 'hidden',
      id: originalName + '_hidden',
      name: originalName,
      value: initial.join(',')
    });

    // Wrap the input in a chips container and inject the hidden field
    var $box = $('<div class="tags-box"></div>');
    $visible.wrap($box);
    $visible.after($hidden);

    // Internal state and helpers
    var tags = [];
    var norm = function (s) { return s.trim().replace(/\s+/g, ' '); };
    var containsCI = function (arr, item) {
      var lower = item.toLowerCase();
      for (var i = 0; i < arr.length; i++) if (arr[i].toLowerCase() === lower) return true;
      return false;
    };

    function updateHidden() { $hidden.val(tags.join(',')); }

    function makeChip(text) {
      var safe = $('<div>').text(text).html();
      var $chip = $(
        '<span class="tag-chip tag-chip-edit" data-tag="' + safe + '">' +
          safe +
          '<span class="remove" aria-label="Remove tag" title="Remove">×</span>' +
        '</span>'
      );
      $chip.find('.remove').on('click', function () {
        removeTag(text, $chip);
      });
      return $chip;
    }

    function addTag(raw) {
      var t = norm(raw);
      if (!t || containsCI(tags, t)) return;
      tags.push(t);
      $visible.before(makeChip(t));
      updateHidden();
    }

    function removeTag(text, $chip) {
      var lower = text.toLowerCase();
      tags = tags.filter(function (x) { return x.toLowerCase() !== lower; });
      $chip.remove();
      updateHidden();
    }

    // Initialize chips from pre-filled value
    initial.forEach(addTag);
    $visible.on('focusout', function () {
      var value = norm($visible.val() || '');
      if (value) addTag(value);
      $visible.val('');
    });
    // Paste "a, b, c" to create multiple tags at once
    $visible.on('paste', function (e) {
      var text = (e.originalEvent || e).clipboardData && (e.originalEvent || e).clipboardData.getData('text');
      if (!text || text.indexOf(',') === -1) return;
      e.preventDefault();
      text.split(',').map(norm).filter(Boolean).forEach(addTag);
    });

    // Enter/comma to confirm; Backspace with empty field removes last chip
    $visible.on('keydown', function (e) {
      if (e.key === 'Enter' || e.key === ',') {
        e.preventDefault();
        var value = norm($visible.val() || '');
        if (value) addTag(value);
        $visible.val('');
      } else if (e.key === 'Backspace' && !$visible.val()) {
        var $last = $visible.siblings('.tag-chip').last();
        if ($last.length) {
          var t = $last.attr('data-tag');
          removeTag(t, $last);
        }
      }
    });

    // Click anywhere in the box to focus the input
    $visible.parent().on('click', function () { $visible.focus(); });

    // Remote autocomplete with caching and race protection
    var endpoint = '/api/tags'; // change to your endpoint
    var cache = new Map();
    var lastXhr = null;

    $visible.autocomplete({
      minLength: 1,
      delay: 150,
      source: function (request, response) {
        var term = (request.term || '').trim();
        if (!term) { response([]); return; }

        if (cache.has(term)) { response(cache.get(term)); return; }

        if (lastXhr && lastXhr.readyState !== 4) lastXhr.abort();

        lastXhr = $.ajax({
          url: endpoint,
          method: 'GET',
          dataType: 'json',
          data: { q: term }
          // headers: { 'X-CSRF-Token': window.CSRF_TOKEN } // enable if your app needs it
        }).done(function (data) {
          var items;
          if (Array.isArray(data) && data.length && typeof data[0] === 'object') {
            items = data.map(function (o) { return o && (o.label || o.value); }).filter(Boolean);
          } else if (Array.isArray(data)) {
            items = data.filter(function (s) { return typeof s === 'string' && s.trim(); });
          } else if (data && Array.isArray(data.results)) {
            items = data.results.map(function (o) { return (o.label || o.value || o); }).filter(Boolean);
          } else {
            items = [];
          }
          items = items.filter(function (s) { return !containsCI(tags, s); });
          cache.set(term, items);
          response(items);
        }).fail(function (xhr, status) {
          if (status !== 'abort') response([]);
        });
      },
      select: function (e, ui) {
        var value = typeof ui.item === 'string' ? ui.item : (ui.item.value || ui.item.label);
        if (value) addTag(value);
        setTimeout(function () { $visible.val(''); }, 0);
        return false;
      },
      focus: function () { return false; }
    });

    // If you prefer opening the menu immediately on focus, uncomment the next line.
    // $visible.on('focus', function () { $(this).autocomplete('search', this.value); });
  });
});

</script>
<%- include ("./_scrollListener") %>
<%- include('../partials/_progress', {progress}) %>
 <script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>
  <script src="https://code.jquery.com/ui/1.13.3/jquery-ui.min.js" defer></script>
<style>
  @font-face {
      font-family: 'Digital';
      src: url('/fonts/DSEG14Classic-Bold.ttf') format('truetype');
      font-weight: bold;
      font-style: normal;
  }
  :root {
    --placeholder-text: "<%=i18n.escapeRoom.steps.indications.front.dropHere%>";
  }
</style>