<footer id="mainFooter">
    <img id="logoImg" alt="Logo" src="/images/escapp.png"   />
    <div>
    <ul class="legal">
        <li><a class="" href="/terms" target="_blank"><%=i18n.policies['terms']%></a> &nbsp;/&nbsp;</li>
        <li><a class="" href="/privacy" target="_blank"><%=i18n.policies['privacy']%></a> &nbsp;/&nbsp;</li>
        <li><a class="" href="/cookies" target="_blank"><%=i18n.policies['cookies']%></a></li>
    </ul>
    </div>
    <a id="logoEU" href="<%=i18n.logos_eu['link']%>" target="_blank">
        <img alt="<%=i18n.logos_eu.alt%>" src="/images/<%=i18n.logos_eu.img_url%>" />
    </a>
</footer>