<header class="" id="mainHeader">
    <div class="left">
        <% if (session.user) { %>
            <a title="<%=i18n.common.exit%>" href="/?_method=DELETE"><span class="navBarIcon material-icons">power_settings_new</span></a>
            <span style="display:inline-block;width:10px;"></span>

            <% if(!session.user.anonymized) { %>
                <a title="<%=i18n.common.mainPage%>" href="/escapeRooms"><span class="navBarIcon material-icons">home</span></a>
                <span style="display:inline-block;width:10px;"></span>
            <%}%>
            <% if (!session.user.isStudent) { %>
                <a title="<%=i18n.common.guide%>" href="/inspiration"><span class="navBarIcon material-icons">help_outline</span></a>
                <span style="display:inline-block;width:10px;"></span>
                <!-- <a title="<%=i18n.common.ideas%>" href="/resources/"><span class="navBarIcon material-icons">widgets</span></a> -->
            <% } %>
            <span style="display:inline-block;width:10px;"></span>
            <a title="<%=i18n.common.reports%>" href="/network/search?query="><span class="navBarIcon material-icons">language</span></a>
            <% if (session.user.isAdmin) { %>
                <span style="display:inline-block;width:10px;"></span>
                Admin
                <span style="display:inline-block;width:10px;"></span>
                <a title="<%=i18n.common.users%>" href="/users/index/"><span class="navBarIcon material-icons">people</span></a>
                <span style="display:inline-block;width:10px;"></span>
                <a title="<%=i18n.common.mainPage%>" href="/escapeRoomsAdmin"><span class="navBarIcon material-icons">games</span></a>
                <span style="display:inline-block;width:10px;"></span>
                <a title="<%=i18n.common.reports%>" href="/reports"><span class="navBarIcon material-icons">report</span></a>
                <span style="display:inline-block;width:10px;"></span>
                <a title="<%=i18n.common.reports%>" href="/reusablePuzzles"><span class="navBarIcon material-icons">extension</span></a>
                <span style="display:inline-block;width:10px;"></span>
                <a title="<%=i18n.common.reports%>" href="/urls"><span class="navBarIcon material-icons">dns</span></a>
            <% } %>
        <% } %>
    </div>
    <div class="right">
        <% if (!session.user) { %>
            <a href="/">Login</a>
        <% } else if(!session.user.anonymized) { %>
            <a title="<%=i18n.common.profile%>" href="/users/<%=session.user.id%>/edit"><%= session.user.name %></a>
        <% } %>
    </div>
</header>
