        <% if(title){%>
            <h2 id="<%=whichMenu%>" class="escapeRoomLandingTitle">
                <%=title%>
                <%if (whichMenu === "created") {%>
                    <a href="/escapeRooms/import">
                        <button class="rounded importButton">
                            <span class="material-icons">file_upload</span>
                            <%=i18n.escapeRoom.import.import%>
                        </button>
                    </a>
                <%}%>
            </h2>
        <%}%>
        <div class="flexBoxEscapeRooms">
            <% if (escapeRoomsList.length == 0) { %>
                <% if (user && (whichMenu == "public")) { %>
                    <p class="notFound"><%=search ? i18n.escapeRoom.main.notFound : i18n.escapeRoom.main.noERsPublic%></p>
                <% } else if (user && (whichMenu == "created")) { %>
                    <p class="notFound"><%=search ? i18n.escapeRoom.main.notFound : i18n.escapeRoom.main.noERTeacher%></p>
                <% } else if (user && (whichMenu == "playing")) { %>
                    <p class="notFound"><%=search ? i18n.escapeRoom.main.notFound : i18n.escapeRoom.main.noERStudent%></p>
                <% } else if (user && (whichMenu == "finished")) { %>
                    <p class="notFound"><%=search ? i18n.escapeRoom.main.notFound : i18n.escapeRoom.main.noERStudentFinished%></p>
                <% } %>
            <% } %>
            <% if (user && !user.isStudent && ((whichMenu == "created"))) { %>
                <a href="/escapeRooms/new" class="escapeRoomItemWrapper animated bounceIn" title="<%=i18n.escapeRoom.main.createER%>" style="animation-delay: <%=escapeRooms ? (escapeRooms.length * 100 + 100): 0 %>ms;">
                    <div class="escapeRoomItem addItem addEscapeRoom gugi" >
                            <span>+</span>
                    </div>
                </a>
            <% } %>
            <% for (var i in escapeRoomsList) { %>
                <% var escapeRoom = escapeRoomsList[i]; %>
                <% var attachment = escapeRoom.attachment; %>
                <% var disabled = (user && (whichMenu == "public") && escapeRoom.disabled); %>
                <% var href = "/escapeRooms/" + escapeRoom.id;
                if (user && !admin && (whichMenu == "public")) {
                    if (escapeRoom.isSignedUp) {
                        href += "/play";
                    } else {
                        if (disabled) {
                            href = "/escapeRooms/";
                        } else {
                            href += "/";
                        }
                    }
                }
                if (whichMenu === "created") {
                    href += "/edit";
                }
                %>
                <%var tobeConfirmed = escapeRoom.tobeConfirmed || (escapeRoom.userCoAuthor && escapeRoom.userCoAuthor.find(e=>(e.id == user.id) && !e.coAuthors.confirmed) )%>
                <a href="<%=href%>" <%-disabled ? "onclick='return false;'":'' %> class="escapeRoomItemWrapper animated bounceIn" title="<%=disabled ? i18n.escapeRoom.main.notAvailable :  (escapeRoom.title||"").replace("\"","'")%>"style="animation-delay: <%=100*i%>ms;"  >
                    <div class="escapeRoomItem <%= disabled ?' disabled':'' %>">
                        <div class="erFoto" style="text-align: center">
                            <div class="bckgFoto" style="background-image: url('<%= escapeRoom.getThumbnailUrl() %>')"></div>
                            <h2 class="escapeRoomTitle"><%= escapeRoom.title %></h2>
                        </div>
                        <% if (user && whichMenu == "public" && !admin) {%>
                            <% if (escapeRoom.isSignedUp){ %>
                            <div class="sign">
                                <span class="material-icons">check</span>
                            </div>
                            <%} else if (escapeRoom.isAuthorOrCoAuthor && !tobeConfirmed){%>
                            <div class="sign edit">
                                <span class="material-icons">edit</span>
                            </div>
                            <%} else if (!disabled && !tobeConfirmed){%>
                                <div class="sign add">
                                    <span class="material-icons">add</span>
                                </div>
                            <%} else if (tobeConfirmed){%>
                                <div class="sign warning" title="<%=i18n.collaborators.pendingConfirmation%>">
                                    <span class="material-icons">warning</span>
                                </div>
                            <%}%>
                        <%}else if(user && whichMenu == "created"){%>
                            <% if(tobeConfirmed){%>
                                <div class="sign warning" title="<%=i18n.collaborators.pendingConfirmation%>">
                                    <span class="material-icons">warning</span>
                                </div>  
                        <%}}%> 
                    </div>
                </a>
            <% } %>
        </div>

        <%if (pages > 1){%>
            </br>
            <%page = parseInt(page)%>
            <div class="pagination align-right">
                <a href="?<%=pageQuery%>=1<%=search ? '&search=' + search : ''%>#<%=whichMenu%>" title="<%=i18n.common.pagination.first%>"><span class="material-icons">first_page</span></a>
                <%for (let p of pageArray) {%>
                    <a href="?<%=pageQuery%>=<%=p%><%=search ? '&search=' + search : ''%>#<%=whichMenu%>" title="<%=i18n.common.pagination.page%> <%=p%>"><span><%-p === page ? `<strong>${p}</strong>`:p %></span></a>
                <%}%>
                <a href="?<%=pageQuery%>=<%=pages%><%=search ? '&search=' + search : ''%>#<%=whichMenu%>" title="<%=i18n.common.pagination.last%>"><span class="material-icons">last_page</span></a>
            </div>
        <% } %>