<div class="wheelSettings" wheelNumber="<%=wheelNumber%>" style="display: none; flex-direction: column; border: 1px solid white; padding: 0px 10px 5px 10px; border-radius: 20px;">
    <div><p><%=i18n.reusablePuzzleApps.DecoderDisk.wheel%> <%= wheelNumber%></p></div>
    <div>
        <label><%=i18n.reusablePuzzleApps.DecoderDisk.wheelType%>:</label>
        <select class="selectWheelType">
          <option value="NUMBERS"><%=i18n.reusablePuzzleApps.Common.Numbers%></option>
          <option value="LETTERS"><%=i18n.reusablePuzzleApps.Common.Letters%></option>
          <option value="COLORS"><%=i18n.reusablePuzzleApps.Common.Colors%></option>
          <option value="SHAPES"><%=i18n.reusablePuzzleApps.Common.Symbols%></option>
          <option value="COLORED_SHAPES"><%=i18n.reusablePuzzleApps.Common.SymbolsColored%></option>
        </select>
    </div>
    <div style="margin: 10px 0px 10px 0px;">
        <label><%=i18n.reusablePuzzleApps.DecoderDisk.wheelLength%>:</label>
        <select class="selectWheelLength">
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
        </select>
    </div>
    <div style="margin: 10px 0px 10px 0px;">
        <label><%=i18n.reusablePuzzleApps.DecoderDisk.Rotation%>:</label>
        <select class="disableWheel">
          <option value="FALSE"><%=i18n.reusablePuzzleApps.Common.Yes%></option>
          <option value="TRUE"><%=i18n.reusablePuzzleApps.Common.No%></option>
        </select>
    </div>
</div>