<br>
<%- include ("./_validator.ejs", {allowedValidators: ["exact"], allowedNullPuzzle: false}, ) %>
<br>
<h4 class="titleLabelEdit"> <%=i18n.escapeRoom.steps.indications.front.catalog.config.customization%> </h4>

<div>
    <label for="skinSelect"><%=i18n.reusablePuzzleApps.Common.skin%>:</label>
    <select id="skinSelect" name="skin">
        <option value="STANDARD"><%=i18n.reusablePuzzleApps.Common.skins.Standard%></option>
        <option value="RETRO"><%=i18n.reusablePuzzleApps.Common.skins.Retro%></option>
        <option value="FUTURISTIC"><%=i18n.reusablePuzzleApps.Common.skins.Futuristic%></option>
    </select>
</div>

<div>
    <label for=""><%=i18n.reusablePuzzleApps.Keypad.keyType%>:</label>
    <select name="keysType" id="keysType">
        <option value="NUMBERS"><%=i18n.reusablePuzzleApps.Common.Numbers%></option>
        <option value="LETTERS"><%=i18n.reusablePuzzleApps.Common.Letters%></option>
        <option value="COLORS"><%=i18n.reusablePuzzleApps.Common.Colors%></option>
        <option value="SYMBOLS"><%=i18n.reusablePuzzleApps.Common.Symbols%></option>
    </select>
</div>

<div>
    <label for="actionValue"><%=i18n.reusablePuzzleApps.Common.actionAfterSolve%>:</label>
    <select id="actionValue" name="actionAfterSolve">
        <option value="NONE"><%=i18n.reusablePuzzleApps.Common.NoneF%></option>
        <option value="SHOW_MESSAGE"><%=i18n.reusablePuzzleApps.Common.showMessage%></option>
    </select>
</div>

<div id="actionDiv">
    <label for="messageInput"><%=i18n.reusablePuzzleApps.Common.Message%>:</label>
    <input id="messageInput" type="text" name="message" placeholder="<%=i18n.reusablePuzzleApps.Common.MessagePlaceholder%>"  style="flex:1;"  />
</div>

<div>
    <label for="backgroundImg"><%=i18n.reusablePuzzleApps.Common.BackgroundURL%>:</label>
    <input type="text" id="backgroundImgInput" name="backgroundImg" placeholder="<%=i18n.reusablePuzzleApps.Common.BackgroundURLPlaceholder%>" style="flex:1;" />
</div>
<br>

<script>
    document.getElementById('actionValue').addEventListener('change', function() {
        if (this.value === 'SHOW_MESSAGE') {
            document.getElementById("actionDiv").style.display = 'flex';
        } else {
            document.getElementById("actionDiv").style.display = 'none';
        }
    });

    document.getElementById("backgroundImgInput").value =  window.currentOpenPuzzleConfig?.backgroundImg || '';
    document.getElementById("messageInput").value =  window.currentOpenPuzzleConfig?.message || '';
    document.getElementById("skinSelect").value =  window.currentOpenPuzzleConfig?.skin || 'STANDARD';
    document.getElementById("actionValue").value =  window.currentOpenPuzzleConfig?.actionAfterSolve || 'NONE';
    document.getElementById("keysType").value =  window.currentOpenPuzzleConfig?.keysType || 'NUMBERS';

    if(window.currentOpenPuzzleConfig?.actionAfterSolve === 'SHOW_MESSAGE') {
        document.getElementById("actionDiv").style.display = 'block';
    } else {
        document.getElementById("actionDiv").style.display = 'none';
    }
</script>