<div>
    <label for="skin"><%=i18n.reusablePuzzleApps.keypad.selectSkin%>:</label>
    <select id="skinSelect" name="skin">
        <option value="STANDARD"><%=i18n.reusablePuzzleApps.keypad.Standard%></option>
        <option value="RETRO"><%=i18n.reusablePuzzleApps.keypad.Retro%></option>
        <option value="FUTURISTIC"><%=i18n.reusablePuzzleApps.keypad.Futuristic%></option>
    </select>
</div>

<div>
    <label for="actionAfterSolve"><%=i18n.reusablePuzzleApps.keypad.actionAfterSolve%>:</label>
    <select  id="actionValue" name="actionAfterSolve">
        <option value="NONE"><%=i18n.reusablePuzzleApps.keypad.None%></option>
        <option value="SHOW_MESSAGE"><%=i18n.reusablePuzzleApps.keypad.sendMessage%></option>
    </select>
</div>

<div id="actionDiv">
    <label for="message"><%=i18n.reusablePuzzleApps.keypad.Message%>:</label>
    <input id="messageInput" type="message" name="message" placeholder="<%=i18n.reusablePuzzleApps.keypad.MessagePlaceholder%>" />
</div>

<div>
    <label for="background"><%=i18n.reusablePuzzleApps.keypad.BackgroundURL%>:</label>
    <input type="text" id="backgroundInput" name="background" placeholder="<%=i18n.reusablePuzzleApps.keypad.BackgroundURLPlaceholder%>" />
</div>

<div>
    <label for="keysType"><%=i18n.reusablePuzzleApps.keypad.KeyStyle%>:</label>
    <select name="keysType">
        <option value="NUMBERS"><%=i18n.reusablePuzzleApps.keypad.Numbers%></option>
        <option value="LETTERS"><%=i18n.reusablePuzzleApps.keypad.Letters%></option>
        <option value="SYMBOLS"><%=i18n.reusablePuzzleApps.keypad.Symbols%></option>
    </select>
</div>

<script>

document.getElementById('actionValue').addEventListener('change', function() {
    if (this.value === 'SHOW_MESSAGE') {
        document.getElementById("actionDiv").style.display = 'block';
    } else {
        document.getElementById("actionDiv").style.display = 'none';
    }
});

document.getElementById("backgroundInput").value =  window.currentOpenPuzzleConfig?.background || 'images/background.png';
document.getElementById("messageInput").value =  window.currentOpenPuzzleConfig?.message || '';
document.getElementById("skinSelect").value =  window.currentOpenPuzzleConfig?.skin || 'STANDARD';
document.getElementById("actionValue").value =  window.currentOpenPuzzleConfig?.actionAfterSolve || 'None';


</script>
