<div>
    <label for="skin"><%=i18n.reusablePuzzleApps.Keypad.selectSkin%>:</label>
    <select id="skinSelect" name="skin">
        <option value="STANDARD"><%=i18n.reusablePuzzleApps.Keypad.Standard%></option>
        <option value="RETRO"><%=i18n.reusablePuzzleApps.Keypad.Retro%></option>
        <option value="FUTURISTIC"><%=i18n.reusablePuzzleApps.Keypad.Futuristic%></option>
    </select>
</div>

<div>

    <label for="actionAfterSolve"><%=i18n.reusablePuzzleApps.Keypad.actionAfterSolve%>:</label>
    <select id="actionValue" name="actionAfterSolve">
        <option  value="NONE"><%=i18n.reusablePuzzleApps.Keypad.None%></option>
        <option value="SHOW_MESSAGE"><%=i18n.reusablePuzzleApps.Keypad.sendMessage%></option>
    </select>
</div>

<div id="actionDiv">
    <label for="message"><%=i18n.reusablePuzzleApps.Keypad.Message%>:</label>
    <input id="messageInput" type="message" name="message" placeholder="<%=i18n.reusablePuzzleApps.Keypad.MessagePlaceholder%>" />
</div>

<div>
    <label for="background"><%=i18n.reusablePuzzleApps.Keypad.BackgroundURL%>:</label>
    <input type="text" id="backgroundInput" name="background" placeholder="<%=i18n.reusablePuzzleApps.Keypad.BackgroundURLPlaceholder%>" />
</div>

<div>
    <label for="keysType"><%=i18n.reusablePuzzleApps.Keypad.KeyStyle%>:</label>
    <select name="keysType">
        <option value="NUMBERS"><%=i18n.reusablePuzzleApps.Keypad.Numbers%></option>
        <option value="LETTERS"><%=i18n.reusablePuzzleApps.Keypad.Letters%></option>
        <option value="SYMBOLS"><%=i18n.reusablePuzzleApps.Keypad.Symbols%></option>
    </select>
</div>

<script>

document.getElementById('actionValue').addEventListener('change', function() {
    if (this.value === 'SHOW_MESSAGE') {
        document.getElementById("actionDiv").style.display = 'block';
    } else {
        document.getElementById("actionDiv").style.display = 'none';
    }
});

document.getElementById("backgroundInput").value =  window.currentOpenPuzzleConfig?.background || 'images/background.png';
document.getElementById("messageInput").value =  window.currentOpenPuzzleConfig?.message || '';
document.getElementById("skinSelect").value =  window.currentOpenPuzzleConfig?.skin || 'STANDARD';
document.getElementById("actionValue").value =  window.currentOpenPuzzleConfig?.actionAfterSolve || 'NONE';
if( window.currentOpenPuzzleConfig?.actionAfterSolve === 'SHOW_MESSAGE') {
    document.getElementById("actionDiv").style.display = 'block';
} else {
    document.getElementById("actionDiv").style.display = 'none';
}


</script>
