<br>
<%- include ("./_validator.ejs", {allowedValidators: ["exact"], allowedNullPuzzle: false}, ) %>
<br>
<h4 class="titleLabelEdit"> <%=i18n.escapeRoom.steps.indications.front.catalog.config.customization%> </h4>

<div>
    <label for=""><%=i18n.reusablePuzzleApps.SignalGenerator.waveformButton%>:</label>
    <select name="waveformButton" id="waveformButton">
        <option value="TRUE"><%=i18n.reusablePuzzleApps.Common.enabled%></option>
        <option value="FALSE"><%=i18n.reusablePuzzleApps.Common.disabled%></option>
    </select>
</div>

<div>
    <label for="actionValue"><%=i18n.reusablePuzzleApps.Common.actionAfterSolve%>:</label>
    <select id="actionValue" name="actionAfterSolve">
        <option value="NONE"><%=i18n.reusablePuzzleApps.Common.NoneF%></option>
        <option value="SHOW_MESSAGE"><%=i18n.reusablePuzzleApps.Common.showMessage%></option>
        <option value="PLAY_SOUND"><%=i18n.reusablePuzzleApps.Common.playSound%></option>
    </select>
</div>

<div id="messageDiv">
    <label for="messageInput"><%=i18n.reusablePuzzleApps.Common.Message%>:</label>
    <input id="messageInput" type="message" name="message" placeholder="<%=i18n.reusablePuzzleApps.Common.MessagePlaceholder%>"  style="flex:1;"  />
</div>

<div id="soundDiv">
    <label for="soundInput"><%=i18n.reusablePuzzleApps.Common.soundURL%>:</label>
    <input type="text" id="soundInput" name="soundAfterSolve" placeholder="<%=i18n.reusablePuzzleApps.Common.soundURLPlaceholder%>" style="flex:1;" />
</div>

<div>
    <label for="background"><%=i18n.reusablePuzzleApps.Common.BackgroundURL%>:</label>
    <input type="text" id="backgroundInput" name="background" placeholder="<%=i18n.reusablePuzzleApps.Common.BackgroundURLPlaceholder%>" style="flex:1;" />
</div>
<br>

<script>
    document.getElementById('actionValue').addEventListener('change', function() {
        var messageDiv = document.getElementById("messageDiv");
        var soundDiv = document.getElementById("soundDiv");
        if (this.value === 'SHOW_MESSAGE') {
            messageDiv.style.display = 'flex';
        } else {
            messageDiv.style.display = 'none';
        }
        if (this.value === 'PLAY_SOUND') {
            soundDiv.style.display = 'flex';
        } else {
            soundDiv.style.display = 'none';
        }
    });

    document.getElementById("backgroundInput").value =  window.currentOpenPuzzleConfig?.background || '';
    document.getElementById("messageInput").value =  window.currentOpenPuzzleConfig?.message || '';
    document.getElementById("soundInput").value =  window.currentOpenPuzzleConfig?.soundAfterSolve || '';
    document.getElementById("actionValue").value =  window.currentOpenPuzzleConfig?.actionAfterSolve || 'NONE';
    document.getElementById("waveformButton").value =  window.currentOpenPuzzleConfig?.waveformButton || 'TRUE';

    if(window.currentOpenPuzzleConfig?.actionAfterSolve === 'SHOW_MESSAGE') {
        document.getElementById("messageDiv").style.display = 'block';
    } else {
        document.getElementById("messageDiv").style.display = 'none';
    }
    if(window.currentOpenPuzzleConfig?.actionAfterSolve === 'PLAY_SOUND') {
        document.getElementById("soundDiv").style.display = 'block';
    } else {
        document.getElementById("soundDiv").style.display = 'none';
    }
</script>