<div class="portada">
    <div class="contenedor" style="display: flex; height: 100%">
        <div class="loginLeft" style="">
            <img alt="Escape room" id="imagenPortada" src="/images/puzzle.png" width="80%"/>
        </div>
        <div class="loginRight" style=" ">
           <% if(locals.register) { %>
                <%- include("users/_form.ejs") %>
           <%  } else if (locals.resetPassword) { %>
                <%- include("users/_resetPassword.ejs") %>   
           <%  } else if (locals.resetPasswordHash) { %>
                <%- include("users/_resetPasswordHash.ejs") %>
           <%  } else { %>
                <%- include("users/_login.ejs") %>
           <% } %>
          <ul class="langs">
               <% var langs = locals.availableLanguages || ["en", "es"]; %>
               <% for (var l in langs) {
                    var ll = langs[l];
                    %>
               <% if (l != 0) { %> / <%}%>
                    <li><a class="<%=(i18n.lang==ll?"active":"")%>" href="/?clang=<%=ll%>"><%=ll%></a></li> 
               <%}%>
          </ul>
        </div>
    </div>
</div>
<%- include ("partials/_footer.ejs") %>