<%- include ("../partials/_header.ejs") %>

<div role="main" class="main showPlayer preview">
	 <% if (user && !user.anonymized) { %>
    <div class="breadcrumbs-container">
        <div class="breadcrumbs">
			<a href="/escapeRooms"><%=i18n.common.escapeRooms%></a>
				<span class="material-icons">chevron_right</span>
                <span><%=escapeRoom.title%></span>
        </div>
	</div>
    <% } %>
    <div class="reporting">
        <a href="/escapeRooms/<%=escapeRoom.id%>/report"> <%=i18n.management.report.title%> </a>
    </div>
    <%var isCollaborator = (user && escapeRoom.userCoAuthor?.some(u => u.id === user.id)) %>
    <%var isUnconfirmedCollaborator = (isCollaborator && !isCollaborator.coAuthors.confirmed) %>
    <%if(isUnconfirmedCollaborator){%>
            <div class="flex-er-collaborator fadeIn">
                <p><%=i18n.collaborators.invitation%></p>
                <form method="POST" action='/escapeRooms/<%= escapeRoom.id %>/confirmCoAuthor?_method=PUT' >
                    <button class="acceptButton rounded small" style="font-size:medium;"  type="submit" name="confirm" value="true"><%=i18n.collaborators.confirmCollaboration%></button>
                    <button class="stopButton rounded" style="font-size:medium;" type="submit" name="confirm" value=""><%=i18n.collaborators.cancelCollaboration%></button>
                </form>

            </div>
    <%}%>
    <div class="flex ">
		<div class="flex-thumb attachmentShow animated">
           <img  alt="thumbnail" src="<%=escapeRoom.getThumbnailUrl()%>">
		</div>
		<div class="flex-er-info animated fadeIn">
            <h1><%=escapeRoom.title%> 
            <br/>
        </h1>
            <p>
                <span>by <%=escapeRoom.author.alias%></span>
            </p>
            <br/>
            <h3><%=i18n.showTeacher.titles.description%></h3>
            <p><%-escapeRoom.description%></p>
            <div class="flex-er-info-preview fadeIn">
                <%if(escapeRoom.field){%>
                    <div>
                        <h3><%=i18n.escapeRoom.steps.sharing.field%></h3>
                        <p><%=i18n.escapeRoom.fields[escapeRoom.field]%></p>
                    </div>
                <%}%>
                <%if(escapeRoom.license){%>
                    <div>
                        <h3><%=i18n.escapeRoom.steps.sharing.license%></h3>
                        <p>
                            <%var cc = escapeRoom.license.split(" ")[1].toLowerCase();%>
                            <a href="https://creativecommons.org/licenses/<%=cc%>/4.0/" target="_blank">
                                <img style="height: 46px;" src="/images/cc/<%=cc%>.png" alt="">
                            </a>
                        </p>
                    </div>
                <%}%>
                <%if(escapeRoom.subject){%>
                    <div>
                        <h3><%=i18n.showTeacher.titles.subject%></h3>
                        <p class="tags-box"><% for (var s in escapeRoom.subject || []) {%>
                            <span class="tag-chip"><%=escapeRoom.subject[s].subject%></span>
                        <%}%></p>
                    </div>
                <%}%>
                <%if(escapeRoom.duration){%>
                    <div>
                        <h3><%=i18n.showTeacher.titles.duration%></h3>
                        <p><%=escapeRoom.duration%> min.</p> 
                    </div>
                <%}%>
                <%if(escapeRoom.format){%>
                    <div>
                        <h3><%=i18n.escapeRoom.steps.sharing.format%></h3>
                        <p><%=i18n.escapeRoom.format[escapeRoom.format]%></p>
                    </div>
                <%}%>
                <%if(escapeRoom.instructions && user && !user.isStudent){%>
                    <div>
                        <h3><%=i18n.escapeRoom.steps.sharing.instructions%></h3>
                        <a href="/uploads/instructions/<%=escapeRoom.instructions%>" target="_blank">
                            <button class="rounded"><%=i18n.common.download%> 
                                <span class="material-icons" style="color: #F40F02;">picture_as_pdf</span>
                            </button>
                        </a>
                    </div>
                <%}%>
                <%if(escapeRoom.forceLang){%>
                    <div>
                        <h3><%=i18n.showTeacher.titles.forceLang2%></h3>
                        <p><%=i18n.langs[escapeRoom.forceLang] || forceLang%></p>
                    </div>
                <%}%>
                <%if(escapeRoom.level){%>
                    <div>
                        <h3><%=i18n.escapeRoom.steps.sharing.level%></h3>
                        <p><%=i18n.user.eduLevel[escapeRoom.level]%></p>
                    </div>
                <%}%>
            </div>
        </div>

    </div>
    <br/>
   <br/>
    <div class="button-share">
        <% if (user) { %>
            <% if (isParticipant === false) { %>
                <a href="/escapeRooms/<%=escapeRoom.id%>/join" >
                    <button class="rounded editButton acceptButton" <%if(!user.isStudent && isUnconfirmedCollaborator){%>disabled title="<%=i18n.collaborators.beforeJoin%>"<%}%>><%=i18n.showPlayer.Play%></button>
                </a>
            <% } else { %>
                <a href="/escapeRooms/<%=escapeRoom.id%>/ready" >
                    <button class="rounded editButton readyButton" ><%=i18n.user.actions.ready%></button>
                </a>
            <% } %>
            <%if(!user.isStudent && !isUnconfirmedCollaborator){%>
                <span>
                    <button class="rounded cloneButton" title="<%=i18n.escapeRoom.clone%>" onclick="overlayTrigger('clone-<%=escapeRoom.id%>')">
                        <%=i18n.showTeacher.actionList.clone%>
                    </button>
                    
                    <div class="overlay-trigger" data-id="clone-<%=escapeRoom.id%>">
                        <form method="POST" action='/escapeRooms/<%= escapeRoom.id %>/clone?_method=PUT' >
                            <p><%=i18n.escapeRoom.general.areYouSureClone%></p>
                            <button class="deleteButton" type="button" onclick="overlayTrigger('clone-<%=escapeRoom.id%>', true)"><%=i18n.common.cancel%></button>
                            <button class="acceptButton" type="submit"><%=i18n.common.accept%></button>
                        </form>
                    </div>
                </spa >
            <%}%>
        <%} else {%>
            <button class="rounded editButton acceptButton" id="join-anon-btn" title="<%=i18n.collaborators.beforeJoin%>"><%=i18n.showPlayer.Play%></button>
            <div id="dialog-join-anon" title="Playing '<%=escapeRoom.title%>'" style="display: none;">
                <p class="text-center"> 
                <%=i18n.showPlayer.alreadyAccount%>
                <br/><br/> <a href="/escapeRooms/<%=escapeRoom.id%>/join" >
                <button class="rounded editButton acceptButton" ><%=i18n.user.actions.login%></button>
                </a>
                </p>
                 <p class="text-center"> 
                <%=i18n.showPlayer.registerNow%>    
                 <br/><br/><a href="/register?redir=/escapeRooms/<%=escapeRoom.id%>/play" >
                <button class="rounded editButton editButton" ><%=i18n.user.actions.register%></button>
                </a>
                </p>
                <hr/>
                <p class="text-center">
                <%=i18n.showPlayer.playAnonymously%>  
                </p>
                <form method="POST" action="/escapeRooms/<%=escapeRoom.id%>/join-anon">
                    <p class="text-center">
                        <label for="alias" style="display: inline-block;"><%=i18n.user.alias%></label><br/>
                        <input type="text" placeholder="Enter alias" id="alias" name="alias"/>
                    </p>
                <div class="userField text-center">
                    <label for="eduLevel" style="display: inline-block;"><%=i18n.user.eduLevelField%></label><br/>
                <select required class="customInput" id="eduLevel" name="eduLevel" value="<%= escapeRoom.level %>" placeholder="<%=i18n.user.inputs.eduLevelPlaceHolder %>" autocomplete="off">
                    <option disabled value  <%= !escapeRoom.level ? "selected" : ""%>/>
                    <option value="higher" <%= escapeRoom.level === "higher" ? "selected" : ""%>><%=i18n.user.eduLevel.higher%></option>
                    <option value="secondary" <%= escapeRoom.level === "secondary" ? "selected" : ""%>><%=i18n.user.eduLevel.secondary%></option>
                    <option value="primary" <%= escapeRoom.level === "primary" ? "selected" : ""%>><%=i18n.user.eduLevel.primary%></option>
                    <option value="vet" <%= escapeRoom.level === "vet" ? "selected" : ""%>><%=i18n.user.eduLevel.vet%></option>
                    <option value="other" <%= escapeRoom.level === "other" ? "selected" : ""%>><%=i18n.user.eduLevel.other%></option>
                    <option value="none" <%= escapeRoom.level === "none" ? "selected" : ""%>><%=i18n.user.eduLevel.none%></option>
                </select> 
                <div class="userField accept_terms">
                    <label for="accept_terms">
                        <p>
                            <input type="checkbox" class="" id="accept_terms" name="accept_terms" required="">
                            I confirm that I have read and accept the <a href="/terms" target="_blank">Terms of Use</a> and the <a href="/privacy" target="_blank">Privacy Policy</a>.<br>
                        </p>
                    </label>
                </div>
            </div>
            <p class="text-center">
                <button class="rounded editButton acceptButton" type="submit"><%=i18n.showPlayer.Play%></button>
            </p>
            </form>
            </div>
        <%}%>
    </div>
   <br/>
   <br/>
   <br/>
   <br/>
</div>

<%- include ("../partials/_footer.ejs") %>
<script>
    const overlayTrigger = (id, close) => {
	$('.overlay-trigger').hide();
	if (!close) {
		$('.overlay-trigger[data-id="' + id + '"]').show();
	}

    
};

</script>
<%if(!user){%>

<script src="/js/vendor/jquery-ui.min.js"></script>
<script type="text/javascript">
    var dialogOptions = {
        autoOpen: false,
        resizable: false,
        width: window.innerWidth > 900 ? 860 : window.innerWidth*0.9,
        height: "auto",
        modal: true,
        show: {
            effect: "scale",
            duration: 400
        },
        hide: {
            effect: "scale",
            duration: 400
        },
        appendTo: '.main',
        open: function(event, ui) {
        $("body").css({ overflow: 'hidden' })
        },
        beforeClose: function(event, ui) {
        $("body").css({ overflow: 'inherit' })
        }
    };
    $(
    ()=>{
        $("#dialog-join-anon").dialog({...dialogOptions, height: screen.height * 0.8});
         $( "#join-anon-btn" ).on( "click", function() {
            $( "#dialog-join-anon" ).dialog( "open" );
        });
    }
    );

</script>
<%}%>