<h1>SCENE EDITOR</h1>

<form method="POST" action="/escapeRooms/<%=escapeRoomId%>/scenes">
   <input type="text" id="id" name="id" hidden value="<%scene.id%>">
   <label>Scene name</label>
   <input type="text" id="name" required name="name" placeholder="Scene Name">
   </br>
   <select id="associatedPuzzles" name="puzzles" multiple style="color:black; width:70%; height: 20%">
      <% puzzles.forEach(function(puzzle) { %>
         <option value="<%= puzzle.id %>"><%= puzzle.title %></option>
      <% }); %>
    </select>
   </br>
   <select id="associatedInstances" name="reusablePuzzlesInstances" multiple  style="color:black; width:70%; height: 20%">
      <% reusablePuzzlesInstances.forEach(function(instance) { %>
         <option value="<%= instance.id %>"><%= instance.name %></option>
      <% }); %>
    </select>

    <button type="submit" id="saveSceneBtn">Save Scene</button>

</form>