<%- include ("../../partials/_header.ejs") %>
<div role="main" class="main steps step-evaluation">
	<%- include ("../../partials/_breadcrumbStep") %>
  <h1><%=i18n.escapeRoom.steps.after.title%></h1> 
  <p class="intro-paragraph">
	<%=i18n.escapeRoom.steps.after.description%> 
  </p> 
  <form method='POST' class="basicConfig" action='/escapeRooms/<%= escapeRoom.id %>/after'  >
		<!--
		<p class="intro-paragraph"><%=i18n.escapeRoom.steps.evaluation.youCanUse%> <a target="_blank" href="https://docs.google.com/forms/u/0/">Google Forms</a> o <a target="_blank" href="https://www.typeform.com/es/">TypeForm</a> <%=i18n.escapeRoom.steps.evaluation.forSurveys%></p>
		<div class="inputFormField erFormField animated slideInUp"> 
			<label for="tit"  class="itemNarrow">1. <%=i18n.escapeRoom.steps.evaluation.pretestField%>:</label>
			<input autofocus type="text" class="customInput itemWide" id="pretest" name="pretest" value="<%= escapeRoom.pretest %>" placeholder="<%=i18n.escapeRoom.steps.evaluation.pretestPlaceHolder%>" autocomplete="off"/>
		</div>
		<div class="inputFormField erFormField animated slideInUp" style="animation-delay:200ms;">
			<label for="subj"  class="itemNarrow">2. <%=i18n.escapeRoom.steps.evaluation.posttestField%>:</label>
			<input type="text" class="customInput itemWide" id="posttest" name="posttest" value="<%= escapeRoom.posttest %>" placeholder="<%=i18n.escapeRoom.steps.evaluation.posttestPlaceHolder%>" autocomplete="off"/>
		</div>
		<div class="inputFormField erFormField animated slideInUp" style="animation-delay:400ms;">
			<label for="subj"  class="itemNarrow">3. <%=i18n.escapeRoom.steps.evaluation.surveyField%>:</label>
			<input type="text" class="customInput itemWide" id="survey" name="survey" value="<%= escapeRoom.survey %>" placeholder="<%=i18n.escapeRoom.steps.evaluation.surveyPlaceHolder%>" autocomplete="off"/>
		</div> -->
 
	  	<br>
	  	<br>
	  	<div class="align-right flex-buttons" style="margin-bottom: 60px;">
            <button class="progress-buttons" type="submit" value="<%=progress%>" id="progress-save" name="progress"><%=i18n.common.save%></button>
      		<button class="progress-buttons" type="submit" value="next" id="next" name="next"><%=i18n.common.next%></button>
      		<button class="progress-buttons" type="submit" value="previous" id="previous" name="previous"><%=i18n.common.previous%></button>
  		</div>
      	<%- include('../../partials/_progress', {progress}) %>
  	</form>
	<br/>
	<br/>
</div>

<%- include('../../partials/_footer', {ignoreExtras: true}) %>
<%- include ("../../partials/_scrollListener") %>

 