<head>
  <link rel="stylesheet" href="/stylesheets/vendor/dropzone.css">
<link rel="stylesheet" href="/stylesheets/vendor/quill.snow.css">
<% if ((endPoint !== "indications") && (endPoint !== "after")) {%>
<link rel="stylesheet" href="/stylesheets/vendor/bootswatch/<%=escapeRoom[endPoint + "Appearance"] || "litera"%>.editor.bootstrap.min.css">
<%}%>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="/js/vendor/jquery.ui.sortable.min.js"></script>
<script src="/js/vendor/jquery.ui.touch-punch.min.js"></script>
<!-- <script src="https://www.youtube.com/iframe_api"></script> -->
<%var theme = escapeRoom[endPoint + "Appearance"] || "litera" %>
</head>

<!-- Theme included stylesheets -->
 <%- include ("../../partials/_header.ejs") %>
<div role="main" class="main steps step-instructions">
    <dialog id="catalog"></dialog>
	<%- include ("../../partials/_breadcrumbStep") %>
  <h1><%=i18n.escapeRoom.steps[endPoint].title%></h1>
    <p class="intro-paragraph">
      <%=i18n.escapeRoom.steps[endPoint].explanation%>
    </p>

    <%- include ("../../partials/_resource_catalog", {theme, endPoint, escapeRoom}) %>
    </div>
    <br/>
    <form style="width:100%" method='POST' id="instructionsForm" class="basicConfig" action='/escapeRooms/<%= escapeRoom.id %>/<%=endPoint%>'  <%if (endPoint === "indications" && escapeRoom.format === "hybrid"){%> enctype="multipart/form-data"  <%}%> >
        
      <input type="hidden" id="appearance" name="appearance" value="<%=theme%>" />
      <div id="custom-content">
      </div>
      <%if (endPoint === "indications" && escapeRoom.format === "hybrid"){%>
      <div class="inputFormField erFormField" style="padding-left: 0px;">
        <label for="hybrid"  class="itemNarrow"><%=i18n.escapeRoom.steps.indications.hybridInstructions%></label>
        <p class="explanation" style="padding-left: 0px;"><%=i18n.escapeRoom.steps.indications.hybridInstructionsNote%></p>
        <input class="attach" type="file" id="hybrid" name="hybrid"/>
        <label for="hybrid" style="margin-left: 0px;padding-left: 0px;" class="fileUpload customInput itemWide">
          <span id="imgLabel" class="fileTitle">
            <% if (escapeRoom.id && escapeRoom.hybridInstructions) { %>
              <%=escapeRoom.hybridInstructions || "Default" %>
            <% } else { %>
              <%=i18n.escapeRoom.steps.edit.noFileUploaded%>
            <% } %>
          </span>
          <span id="upload"
            <% if (escapeRoom.hybridInstructions) { %>
              style="display: none;"
            <% } %>
            class="fileUploadButton">
              <span class="material-icons">file_upload</span>
          </span>
          <span id="delete"
            <% if (!escapeRoom.hybridInstructions) { %>
              style="display: none;"
            <% } %>
            class="fileUploadButton">
              <span class="material-icons">delete</span>
            </span>
            <input type="text" class="inputFormField erFormField" style="opacity:0;" aria-label="Force focus"/>
            <input type="hidden" name="keepHybridInstructions" id="keepHybridInstructions" value="<%= (escapeRoom.hybridInstructions) ? "1" : "0" %>" >
        </label>
      </div>
      <%}%>
    <br/>
      <div class="align-right flex-buttons buttons_before_progressbar">
          <button class="progress-buttons" type="submit" value="<%=progress%>" id="progress-save" name="progress"><%=i18n.common.save%></button>
          <button class="progress-buttons" type="submit" value="next" id="next" name="next"><%=i18n.common.next%></button>
          <button class="progress-buttons" type="submit" value="previous" id="previous" name="previous"><%=i18n.common.previous%></button>
      </div>
      <%- include('../../partials/_progress', {progress}) %>
    </form>

<script>
  window.escapeRoomId = <%=escapeRoom.id%>
  window.uploadCallback = (file) => {
    $(".file-selected").removeClass("file-selected");
    $(".gamification-element-selected").removeClass("gamification-element-selected");
    let parent = $(file.previewElement);
    fileSelected = file;
    parent.addClass("file-selected");
    $('#sourceUrl').prop('checked', false);
    $('#sourceGamificationElement').prop('checked', false);
    $('#sourceFile').prop('checked', true);
  }
</script>

<%escapeRoom.puzzles = escapeRoom.puzzles||[];%>
<% var puzzleArr = Array(escapeRoom.puzzles.length).fill(0).map((_i,e)=>e);
puzzleArr.push("all")%>
<script>
window.puzzleList =<%- JSON.stringify(puzzleArr)%>;
window.endPoint = "<%=endPoint%>"
window.placeholder = "<%=i18n.escapeRoom.steps[endPoint].placeholder%>"
window.insert = "<%=i18n.gallery.insert%>";
window.cancel = "<%=i18n.gallery.cancel%>";
window.accept = "<%=i18n.common.accept%>";
window.lang = "<%=i18n.lang%>";
window.puzzleLength = <%=escapeRoom.puzzles.length + 1%>;
window.i18n = <%-JSON.stringify(i18n.escapeRoom.steps.indications.front)%>
window.getTheme = theme => "/stylesheets/vendor/bootswatch/"+theme+".bootstrap.min.css";
window.theme = ((endPoint === "indications") || (endPoint === "after")) ? "/stylesheets/style.css" : window.getTheme("<%=theme || 'litera' %>");
<%var content =  (!escapeRoom[endPoint + "Instructions"] || (((endPoint === "indications") || (endPoint === "after")) && escapeRoom[endPoint + "Instructions"] === "[]")) ?
[{"type":"text","payload":{"text": i18n.escapeRoom.steps[endPoint].placeholder }, "puzzles":puzzleArr, "endPoint": endPoint}] : JSON.parse( escapeRoom[endPoint + "Instructions"]);%>
<% content =   JSON.stringify( content ).replaceAll('<\\\\/script>','</script>')%> <!--This tag does save properly on string, was replaced previously->
window.content = <%- content%>
window.puzzles = <%- JSON.stringify(escapeRoom.puzzles.map((puzzle) =>{ return {id: puzzle.id, validator:puzzle.validator, sol: puzzle.sol, title:puzzle.title, assignedReusablePuzzleInstances: puzzle.reusablePuzzleInstances}}))%>
window.reusablePuzzleInstances = <%- JSON.stringify(reusablePuzzlesInstances || [])%>
window.reusablePuzzles = <%- JSON.stringify(availableReusablePuzzles || [])%>
window.assets = <%- JSON.stringify(assets || [])%>
</script>

  <div id="dialog-themes" title="<%=i18n.escapeRoom.steps.indications.front.theme%>" style="display: none;">
    <div class="theme-list">
      <%var themes = ["litera", "cerulean", "journal", "sketchy", "darkly", "cyborg", "cosmo", "flatly", "lumen", "lux", "materia", "minty", "pulse", "sandstone", "simplex", "slate", "solar", "spacelab", "united", "yeti", "superhero"];%>
      <%for (var iTheme of themes) {%>
        <span tabindex="0" role="button" class="theme-item <%=theme === iTheme ? 'selected-theme':''%>" data-value="<%=iTheme%>">
          <img src="/images/bootswatch/<%=iTheme%>.png"/>
        </span>
      <%}%>
    </div>
  </div>
<%if (endPoint === "team"){%>

<div id="dialog-config" title="<%=i18n.escapeRoom.steps.indications.front.setupVisualization%>" style="display: none;">
  <div class="config-list">
    <p class="config-paragraph"><%=i18n.escapeRoom.steps.indications.front.visualizationIntro%></p>

    <p class="config-paragraph" style="color: var(--info);font-size: 19px;"><%=i18n.escapeRoom.steps.indications.front.visualizationSucceed%>:</p>
    <%for (var p in escapeRoom.puzzles) {
      var puzzle= escapeRoom.puzzles[p];%>
      <label class="puzzle-preview-select">
        <input type="checkbox" id="puzzle-<%=p%>">&nbsp;<%=puzzle.title%>. <%if (p == 0){%>
        <span style="opacity: 0.5;">&nbsp;(<%=i18n.escapeRoom.steps.indications.front.visualizationStart%>)</span><%}%>
      </label>
    <%}%>
    <label class="puzzle-preview-select">
      <input type="checkbox" id="puzzle-all"><%=i18n.escapeRoom.steps.indications.front.visualizationFinish%>
    </label>
  </div>
</div>
<%}%>

</div>
<%- include('../../partials/_footer', {ignoreExtras: true}) %>
</div>
<script src="/ckeditor/ckeditor4/ckeditor.js"></script>
<script src="/ckeditor/ckeditor4/editor.js"></script>

<script>
$(document).ready(function() {
    $('.nav-link').on('click', function() {
        const targetTab = $(this).attr('data-bs-target');
        $('.nav-link').removeClass('active');
        $('.tab-pane').removeClass('active');

        $(this).addClass('active');
        const queryTargetTab = $(targetTab)
        queryTargetTab.addClass('active');
        queryTargetTab.addClass('show');
    });
<%if (endPoint == "indications" && escapeRoom.format === "hybrid"){%>
$(function(){
    $('#hybrid').on("change", function(e){
      let path = $(this).val();
      try {
        let fileNameArr = path.split("\\");
        let fileName = fileNameArr[fileNameArr.length - 1];
        if(fileName) {
          $('#delete').show();
          $('#upload').hide();
          $('#imgLabel').html(fileName);
        }
      } catch (e) {
          $('#delete').hide();
          $('#upload').show();
          $('#imgLabel').html("<%=i18n.escapeRoom.steps.edit.noImageUploaded%>");
      }
    });

    $('#delete').on('click', function(e){
        e.preventDefault();
        $('#delete').hide();
        $('#upload').show();
        $('#imgLabel').html("<%=i18n.escapeRoom.steps.edit.noImageUploaded%>");
        $('#keepHybridInstructions').val("0");
    })
  })
<%}%>
});
</script>
<style>
  @font-face {
      font-family: 'Digital';
      src: url('/fonts/ds-digib.ttf') format('truetype');
      font-weight: bold;
      font-style: normal;
  }
  :root {
    --placeholder-text: "<%=i18n.escapeRoom.steps.indications.front.dropHere%>";
  }
</style>