<%- include ("../partials/_header.ejs") %>

<div role="main" class="main">
    <h2><%=i18n.management.contact.pageTitle%></h2>
    <div>
        <%=i18n.management.contact.author%>: <%= author%>
    </div>
    <div>
        <%=i18n.management.contact.email%>: <%= email %>
    </div>
    <br/>
    <a href="mailto:<%= email %>?subject=<%=i18n.management.contact.subject%>> <%= title %>">
        <button class="editButton"><%=i18n.management.contact.sendEmail%></button>
    </a>
</div>