<style>Add commentMore actions
    body{height: 100vh;}
</style>
<script src="/js/vendor/jquery-ui.min.js"></script>
<%if (!user.id) {%>
    <h1 class="loginWelcomeMessage">
        <%=i18n.user.messages.welcome%>
    </h1>
    <h2>
        <%=i18n.user.actions.Register%>
    </h2>
    <form method="post" class=" " action="/users<%=redir ? ("?redir="+redir) : "" %>">
        <%}else{%>
    <form method="post" class="editUserForm" action="/users/<%=user.id%>?_method=PUT%>">
<%}%>

<div class="userField">
 <label for="name"><span><%=i18n.user.name%></span>
 <input type="text" class="customInput" id="name" name="name" value="<%= user.name %>" required placeholder="<%=i18n.user.inputs.namePlaceHolder %>" autocomplete="off"/> </label>
</div>
<br />
<div class="userField">
    <label for="surname"><span><%=i18n.user.surname%></span>
    <input type="text" class="customInput" id="surname" name="surname" value="<%= user.surname %>" required placeholder="<%=i18n.user.inputs.surnamePlaceHolder %>" autocomplete="off"/></label>
</div>
<br />
<%if (user.id) {%>
    <div class="userField">
        <label for="user_confirm_password"><span><%=i18n.user.lang%></span>
        <select  class="customInput" id="lang" name="lang" required autocomplete="off">
            <option value="en" <%=(user.lang == "en" || (!user.lang && (i18n.lang === "en"))) ? "selected" :""%>><%=i18n.langs.en%></option>
            <option value="es" <%=(user.lang == "es" || (!user.lang && (i18n.lang === "es"))) ? "selected" :""%>><%=i18n.langs.es%></option>
        </select>
        </label>
    </div>
    <br/>
<%}%>
<%if (!user.id || locals.admin) {%>
<div class="userField">
    <label for="username"><span><%=i18n.user.username%></span>
    <input type="email" <%=user.id?"disabled":""%> class="customInput" id="username" name="username" value="<%= user.username %>" required placeholder="<%=i18n.user.inputs.usernamePlaceHolder %>" autocomplete="off"/></label>
</div>
<br />
    <%if (!JSON.parse(process.env.DISABLE_CHOOSING_ROLE || "false") || locals.admin) {%>
        <div class="userField">
            <label for="eduLevel"><span><%=i18n.user.roleField%></span>
            <select  class="customInput" id="role" name="role"  autocomplete="off" >
                <option value <%if (!user.id) {%> selected <%}%> disabled > </option>
                <option value="student" <%if (user.id && user.isStudent) {%> selected <%}%>> <%=i18n.user.roles.student%></option>
                <option value="teacher" <%if (user.id && !user.isStudent)  {%> selected <%}%>> <%=i18n.user.roles.teacher%></option>
                <%if (locals.admin) {%>
                    <option value="admin" <%if (locals.admin && user.isAdmin)  {%> selected <%}%>> <%=i18n.user.roles.admin%></option>
                <%}%>
            </select>
        </div>
    <br />
    <%}%>
<%} else if (user.id && !locals.admin) {%>
    <div class="userField">
        <label for="eduLevel"><span><%=i18n.user.roleField%> : </span> <span><%=user.isStudent ? i18n.user.roles.student : i18n.user.roles.teacher %></span>
        <br/>
        <br/>
    </div>
<%}%>


<div class="userField">
    <label for="eduLevel"><span><%=i18n.user.eduLevelField%><span id="roleFieldStudy"><%=i18n.user.roleFieldStudy%></span> <span id="roleFieldTeach"><%=i18n.user.roleFieldTeach%></span></span>
    <select  class="customInput" id="eduLevel" name="eduLevel" value="<%= user.eduLevel %>" placeholder="<%=i18n.user.inputs.eduLevelPlaceHolder %>" autocomplete="off">
        <option disabled value <%= user.eduLevel ? "" : "selected" %> <%= !user.id ? "selected" : ""%>/>
        <option value="primary" <%= user.eduLevel === "primary" ? "selected" : ""%>><%=i18n.user.eduLevel.primary%></option>
        <option value="secondary" <%= user.eduLevel === "secondary" ? "selected" : ""%>><%=i18n.user.eduLevel.secondary%></option>
        <option value="vet" <%= user.eduLevel === "vet" ? "selected" : ""%>><%=i18n.user.eduLevel.vet%></option>
        <option value="higher" <%= user.eduLevel === "higher" ? "selected" : ""%>><%=i18n.user.eduLevel.higher%></option>
        <option value="other" <%= user.eduLevel === "other" ? "selected" : ""%>><%=i18n.user.eduLevel.other%></option>
        <option value="none" <%= user.eduLevel === "none" ? "selected" : ""%>><%=i18n.user.eduLevel.none%></option>
    </select></label>
</div>
<br />
 

<%if (user.id) {%>

<p><%=i18n.user.passLeaveBlank%></p>
<%}%>
<div class="userField">
        <label for="user_password"><span><%=i18n.user.password%></span>
        <input type="password" class="customInput" id="user_password" name="password" 
       <%if (!user.id) {%>  required <%}%>
         placeholder="<%=i18n.user.inputs.passwordPlaceHolder %>" autocomplete="nope"/></label>
</div>
<br />
<div class="userField">
        <label for="user_confirm_password"><span><%=i18n.user.passwordConfirm%></span>
        <input type="password" class="customInput" id="user_confirm_password" name="confirm_password" 
        <%if (!user.id) {%> required <%}%>
         placeholder="<%=i18n.user.inputs.passwordConfirmPlaceHolder %>" autocomplete="nope"/></label>
</div>
<br/>
<%if (!user.id) {%>
<br/>
<div class="userField">
    <label for="accept_terms" >
     <p>
        <input type="checkbox" class="" id="accept_terms" name="accept_terms" required/>
        <%-i18n.user.terms%><br/>
        
    </p>
</label>
</div>
<br/>
    <button class="registro" type="submit" value="Save" onclick="return confirmPassword()"><%=i18n.user.actions.register %></button>
    <br />
    <br />
    <a class="login" href="/"><%=i18n.user.actions.alreadyRegistered %></a>
        <br/><br/><br/><br/>


</form>
<%} else {%>
    


    <br/>
    <a href="/"><button class="save white rounded" type="button"><%=i18n.common.back %></button></a>
    <button class="save editButton rounded" type="submit" value="edit"
    <%if (!user.id) {%> onclick="return confirmPassword()" <%}%>><%=i18n.user.actions.save %></button>

    <br />
    <br />
    <br />
</form>
    <div class="deleteUser">
        <form action="/users/<%=user.id%>?_method=delete" method="POST">
            <h3><%=i18n.user.delete.deleteYourAccount%></h3>
            <p><%=i18n.user.delete.deleteYourAccountMsg1%></p>
            <p><%=i18n.user.delete.deleteYourAccountMsg2%></p>
            <p><%=i18n.user.delete.deleteYourAccountMsg3%></p>
            <p><%=i18n.user.delete.deleteYourAccountMsg4%></p>
            <p><%=i18n.user.delete.deleteYourAccountMsg5%></p>
            <button class="save deleteButton rounded" type="submit"><%=i18n.user.delete.deleteAccount%></button>
        </form>
       
    </div>
    <br />
    <br />
<%} %>


<script>
    function confirmPassword() {
        
        var pw1 = document.getElementById('user_password').value;
        var pw2 = document.getElementById('user_confirm_password').value;
        if (!pw1 || !pw2) {
            $.easyAlert({message: "<%=i18n.user.messages.fillIn %>", alertType: 'danger', position: 'b l', time: 3000, autoHide: true})
            return false;
        }
        if (pw1 === pw2) {
            <%if (!user.id) {%>
                if (!document.getElementById("accept_terms").checked) {
                    $.easyAlert({message: "<%=i18n.common.flash.youMustAcceptTerms %>", alertType: 'danger', position: 'b l', time: 3000, autoHide: true})

                    return false;
                }
            <%}%>
            return true;
        } else {
            $.easyAlert({message: "<%=i18n.user.messages.doNotMatch %>", alertType: 'danger', position: 'b l', time: 3000, autoHide: true})
            return false;
        }
    }   

    $(document).ready(function() {
        // Show the correct role field based on the selected role
        $('#role').change(function() {
            if ($(this).val() === 'student') {
                $('#roleFieldStudy').css('display', 'inline');
                $('#roleFieldTeach').hide();
            } else if ($(this).val() === 'teacher') {
                $('#roleFieldStudy').hide();
                $('#roleFieldTeach').css('display', 'inline');
            } else {
                $('#roleFieldStudy').hide();
                $('#roleFieldTeach').hide();
            }
        });

         
    });
    
</script>