<%- include ("../../partials/_header.ejs") %>

<div role="main" class="main ranking finish">
	<div class="breadcrumbs-container">
       <% if (locals.user && !locals.user.anonymized) { %>
		<div class="breadcrumbs">
            <a href="/escapeRooms"><%=i18n.common.my%></a>
			<span class="material-icons">chevron_right</span>
			<a href="/escapeRooms/<%=escapeRoom.id%>/ready"><%=escapeRoom.title%></a>
            <span class="material-icons">chevron_right</span>
            <span><%=i18n.showPlayer.Results%></span>
        </div>
		<%} else {%>
			<div class="breadcrumbs">
				<span class="material-icons">arrow_left</span>
			<a href="/escapeRooms/<%=escapeRoom.id%>/ready"><%=i18n.common.back%></a>
		</div>
		<%}%>
	</div>
	<div class="content">
		<% var theTeam =  (teams && teams.find(t=>t.id==teamId))%>
		<h1 style="text-align:center;"><%= (theTeam && theTeam.finishTime) ? i18n.showPlayer.congrats: i18n.showPlayer.resultsTitle%></h1>
		<% if (teams && teams.length >= 3 ) {%>
			<%-include("../../partials/_podium")%>
		<% } %>
		<br/><br/>
		<% if (teams.length > 0) { %>
			<ranking/>
			<%- include("../../partials/_ranking", {anonymize: true, members: true}) %>
		<% } %>
	</div>
<br/>
<br/>
<br/>

</div>
<!-- <script src="/js/vendor/socket.io.js"></script> -->
<!-- <script src="/js/ranking.js"></script> -->
<script>
	var teamId = <%= teamId || "undefined"%>;
	/*var userId = <%= session.user.id %>;
	var escapeRoomId = "<%= escapeRoom.id%>";
	var nPuzzles = "<%= escapeRoom.puzzles.length%>";
    initSocketServer(<%= escapeRoom.id%>, teamId, <%=turnoId || "undefined" %>, userId);*/
</script>
<%- include ("../../partials/_footer") %>

